.app {
  text-align: center;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  min-height: 100vh;
  padding: 20px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
